

.container {
  margin: auto;
  height: 100%;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

